.custom-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #f8f9fa;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
    height: 20px; /* Consider adjusting the height to accommodate content */
    z-index: 99;
}
header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10; /* Ensure the header stays above other content */
  transition: top 0.3s; /* Smooth transition for showing/hiding the header */
}

.menu-and-logo {
    display: flex;
    align-items: center;
}

.header-icons {
    display: flex;
    align-items: center;
}

.icon {
    margin: 0 10px;
    cursor: pointer;
}

.icon:last-child {
    margin-right: 0; /* Reduced margin on the right for the last icon */
}




.logo-link {
    text-decoration: none;
    color: #333;
    font-size: 1.5rem;
    font-weight: bold;
}

.menu-icon {
    cursor: pointer;
    margin-right: 20px; /* Space between the menu icon and the logo */
    z-index: 1000;
}


.mm-icon span{
    display: block;
    width: 25px;
    height: 3px;
    background-color: #ffffff;
    margin: 5px 0;
    transition: all 2.0s ease-in-out;
    
}

.mm-icon.change span:first-child {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.mm-icon.change span:nth-child(2) {
    opacity: 0;
}

.mm-icon.change span:last-child {
    transform: rotate(45deg) translate(-5px, -6px);
}

.menu-icon span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 5px 0;
    transition: all 0.3s ease-in-out;
}

.menu-icon.change span:first-child {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.menu-icon.change span:nth-child(2) {
    opacity: 0;
}

.menu-icon.change span:last-child {
    transform: rotate(45deg) translate(-5px, -6px);
}

.side-menu {
    position: fixed;
    top: 0;
    left: 0; /* Start off-screen */
    width: 270px;
    height: 100%;
    /* background-color: #fff; */
    background-color: #f5f5f5;
    transform: translateX(-100%);
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s ease; /* Smooth transition */

}

.menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    height: 22px;
    background: #6b5b95;
    color: white;
  }

.side-menu.open {
    background-color: transparent !important;
    transform: translateX(0);
    transition: transform 0.5s ease; /* Smooth transition */

  }

  
  .main.menu-open {
    transform: translateX(270px); /* Push body content to the right */
    transition: transform 0.8s ease; /* Smooth transition */
}

.main{
    transition: transform 0.5s ease;
}

.menu-body {
    padding: 15px;
  }
  

.side-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.side-menu ul li a {
    /* display: block;
    padding: 1rem;
    text-decoration: none;
    color: #333; */
    color: #6b5b95;
    text-decoration: none;
    padding: 10px 0;
    display: block;
    transition: background 0.3s;
    border-bottom: 1px solid #ddd;
}

.side-menu ul li a:hover {
    background-color: #f8f9fa;
}

.side-menu li svg {
    margin-right: 10px;
  }


.user-icon {
  width: 28px; /* Adjust the width as needed */
  height: 28px; /* Adjust the height as needed */
  cursor: pointer;
  border-radius: 50%;

}
/* Dark mode styles */
@media (prefers-color-scheme: dark) {
    .custom-header {
        background-color: #333; /* Dark background color */
        box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1); /* Lighter shadow for contrast */
        color: #fff; /* Light text color */
    }

    .logo-link {
        color: #fff; /* Light logo text color */
    }

    .menu-icon span {
        background-color: #fff; /* Light menu icon color */
    }

    .side-menu {
        background-color: #444; /* Dark background color for side menu */
        box-shadow: 2px 0 5px rgba(255, 255, 255, 0.1); /* Lighter shadow for contrast */
    }

    .side-menu ul li a {
        color: #fff; /* Light text color for side menu links */
        border-bottom: 1px solid #666; /* Dark border color for contrast */
    }

    .side-menu ul li a:hover {
        background-color: #555; /* Dark background color on hover */
    }

    .user-icon {
        border: 2px solid #fff; /* Light border color for user icon */
    }

    /* Additional adjustments as needed for dark mode */
    /* ... */
}


.category-tags {
    display: flex;
    gap: 10px; /* Add space between tags without affecting overflow */
    overflow-x: auto;
    padding: 10px 0;
    position: relative;
    background-color: #f8f9fa;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);  /* Add some padding to the top and bottom */
    scrollbar-width: thin; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
  }
  
  .category-tags::-webkit-scrollbar {
    height: 6px; /* Customize scrollbar height */
  }
  
  .category-tags::-webkit-scrollbar-thumb {
    background: #ccc; /* Color of the scrollbar thumb */
    border-radius: 10px; /* Rounded corners for the scrollbar thumb */
  }
  
  .category-tag {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    background: linear-gradient(145deg, #e6e6e6, #ffffff); /* Subtle gradient for depth */
    border: none;
    border-radius: 25px;
    cursor: pointer;
    white-space: nowrap;
    color: #333;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    text-decoration: none;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1); /* Deeper shadow for 3D effect */
  }
  
  .category-tag:hover {
    background-color: #e0e0e0; /* Change background on hover */
    transform: translateY(-2px); /* Slight lift effect on hover */
  }
  
  .category-tag.active {
    font-weight: bold;
    background: #0070f3;
    color: #f8f9fa; /* Adjust color to match your design */
  }
  
  /* Hide scrollbar on mobile devices */
@media (max-width: 768px) {
    .category-tags {
      overflow-x: scroll; /* Still allow scrolling */
      -ms-overflow-style: none; /* For Internet Explorer and Edge */
      scrollbar-width: none; /* Hide scrollbar for Firefox */
    }
  
    .category-tags::-webkit-scrollbar {
      display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
    }
  }

  .user-avatar-login{
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }

  .category-tags-loading {
    display: flex;
    gap: 10px;
    padding: 10px 0;
    /* margin-top: 46px; */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.loading-tag {
    background-color: #ddd;
    border-radius: 25px;
}